@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

.screen2 {
    background-image: url('../../images/iphoneyellowandbluebackground.png');
    background-size: cover;
    background-color: #fed676;
    background-position: center;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.paragraph-container {
    background-color: #FFF4EA;
    opacity: .9;
    width: 47%;
    height: 65%;
    border-radius: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  rgba(45, 35, 66, 0.4) 0 2px 4px;
    z-index: 1;
}

.paragraph-container p {
    font-size: 1.9vw;
    font-family: 'Pavanam';
    color: #372A28;
}

.interested-button {
    position: absolute;
    top: 180%;
    left: 30%;
    align-items: center;
    appearance: none;
    background-color: #E4D1C3;
    border-radius: 5px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #372A28;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Londrina Solid';
    height: 10%;
    width: 25%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 4vw;
    z-index: 1;
}

.interested-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.interested-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.interested-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.purple-cup {
    position: absolute;
    top: 110%;
    left: 60%;
    width: 20%;
    transform: rotate(15deg);
    z-index: 1;
}

.headline-container {
    width: 30%;
    height: 75%;
    z-index: 0;
    align-self: flex-end;
}

.headline-container h1 {
    font-family: 'Londrina Shadow';
    font-size: 5vw;
    color: #372A28;
    text-align: end;
    margin-bottom: 0;
    z-index: 0;
    font-display: block;
}

/* Tablets */
@media screen and (max-width: 768px) {
    .screen2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-position: 15%;
    }
    .hidden {
        visibility: visible;
        height: 20%;
    }
    .paragraph-container {
        width: 75%;
        height: 35%;
    }
    .paragraph-container p {
        font-size: 1.4em;
    }
    .interested-button {
        top: 175%;
        left: 55%;
        height: 5%;
        width: 30%;
        font-size: 4vw;
    }
    .purple-cup {
        top: 105%;
        left: 25%;
        width: 25%;
    }
    .headline-container {
        width: 40%;
        height: 30%;
        align-self: baseline;
        margin-left: 15px;
    }
    .headline-container h1 {
        font-size: 3.4em;
        text-align: start;
        margin-top: 15px;
    }
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
    .paragraph-container p {
        font-size: 0.85em;
    }
    .interested-button {
        top: 192%;
    }
    .purple-cup {
        top: 112%;
        left: 35%;
        width: 35%;
    }
    .headline-container h1 {
        font-size: 2.25em;
    }
}
