.screen1 {
    background-image: url('../images/iphonescollage.png');
    background-size: cover;
    background-position: 50%;
    background-color: #aecbcf;
    height: 100vh;
    width: auto;
}

.green-cup {
    position: relative;
    left: 72%;
    top: 37%;
    width: 300px;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: 0px 110px;
    z-index: 1;
}

@keyframes swing {
    0% { transform: rotate(85deg); }
    100% { transform: rotate(88deg); }
}

.main-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    z-index: 0;
}