.screen1 {
    background-image: url('../images/iphonescollage.jpg');
    background-size: cover;
    background-position: 50%;
    background-color: #aecbcf;
    height: 100vh;
    width: auto;
}

.purple-cup {
    position: absolute;
    opacity: 0;
    left: 13%;
    top: 50%;
    width: 250px;
    height: auto;
    animation: purpleBounce 0.5s cubic-bezier(.5, -1, .75, 4) forwards;
    transform: translate(-50%, -50%) rotate(-15deg);
    animation-delay: 4s;
}

.green-cup {
    position: absolute;
    opacity: 0;
    left: 80%;
    top: 60%;
    width: 300px;
    height: auto;
    animation: greenBounce 0.5s cubic-bezier(.5, -1, .75, 4) forwards;
    transform: translate(-50%, -50%) rotate(15deg);
    animation-delay: 3s;
}

.main-logo {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 500px;
    animation: logoBounce 0.5s cubic-bezier(.5, -1, .75, 4) forwards;
    transform: translate(-50%, -50%);
    animation-delay: 5s;
}

@keyframes purpleBounce {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100% {
        height: auto;
        width: 250px;
        opacity: 1;
    }
}

@keyframes greenBounce {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100% {
        height: auto;
        width: 300px;
        opacity: 1;
    }
}

@keyframes logoBounce {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100% {
        height: auto;
        width: 500px;
        opacity: 1;
    }
}