.screen1 {
    background-image: url('../../images/iphonescollage.png');
    background-size: cover;
    background-position: 50%;
    background-color: #aecbcf;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo {
    width: 50%;
    height: auto;
    z-index: 1;
}

.green-cup {
    position: absolute;
    left: 75%;
    top: 44%;
    width: 20%;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: 0px 110px;
    z-index: 1;
}

@keyframes swing {
    0% { transform: rotate(85deg); }
    100% { transform: rotate(88deg); }
}

/* Laptops & Desktops */
@media screen and (max-width: 1240px), screen and (max-height: 515px) {
    .green-cup {
        display: none;
    }
}

/* Mobile Devices & Tablets */
@media screen and (orientation: portrait) {
    .banner-logo {
        width: 75%;
    }
}
