.screen4 {
    height: 150vh;
    width: auto;
    background-image: url('../../images/keychain.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen4 .keychain-headline-container {
    margin-left: 2rem;
    margin-top: 25%;
    width: 75vh;
    z-index: 1;
}

.screen4 h1 {
    font-family: 'Londrina Shadow';
    font-size: 11vh;
    color: #372A28;
}

.screen4 .footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.screen4 h2 {
    font-family: 'Pavanam';
    color: #372A28;
    font-size: 0.75rem;
}

.left, .center, .right {
    flex: 1;
}

.screen4 .center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.screen4 .right {
    text-align: end;
}

/* Mobile Devices and Tablets */
@media screen and (orientation: portrait) {
    .screen4 {
        background-position: 70%;
        height: 105vh;
    }
    .screen4 .keychain-headline-container {
        margin-top: 25%;
        width: 20vh;
        z-index: 1;
        align-self: flex-end;
        margin-right: 3vh;
        text-align: right;
    }
    .screen4 h1 {
        font-size: 5vh;
    }
}
